In [5]:
import pandas as pd
def read_file(path):
    df= pd.read_csv(path)
    return df
read_file('message-weather (1).csv')

,city,date_weather,latitude_decimal,longitude_decimal,max_temperature,min_temperature,region_x,temperature,wind_direction,wind_speed,weather_description,date_hour_x,tg_message
0,–°—É–º–∏,2022-12-02 12:32,50.911944,34.803333,-0.2,-3.3,–°—É–º—Å—å–∫–∞,-0.2,343,31.2,Overcast,2022-12-02 12:00:00,üí• –•–æ—Ç—ñ–Ω—å (–°—É–º—Å—å–∫–∞ –æ–±–ª.)\r\n–ó–∞–≥—Ä–æ–∑–∞ –∞—Ä—Ç–∏–ª–µ—Ä—ñ–π—Å—å...
1,–ú–∞—Ä–≥–∞–Ω–µ—Ü—å,2022-12-02 11:33,47.644722,34.604167,2.7,-0.1,–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞,2.7,3,28.5,Overcast,2022-12-02 11:00:00,üí• –ú–∞—Ä–≥–∞–Ω–µ—Ü—å (–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞ –æ–±–ª.)\r\n–ó–∞–≥—Ä–æ–∑–∞...
2,–î–Ω—ñ–ø—Ä–æ,2022-12-02 11:33,48.466111,35.025278,1.7,-1.6,–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞,1.7,357,29.9,Partly cloudy,2022-12-02 11:00:00,üí• –ú–∞—Ä–≥–∞–Ω–µ—Ü—å (–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞ –æ–±–ª.)\r\n–ó–∞–≥—Ä–æ–∑–∞...
3,–ù—ñ–∫–æ–ø–æ–ª—å,2022-12-02 11:33,47.577222,34.357500,2.4,0.1,–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞,2.4,7,25.4,Overcast,2022-12-02 11:00:00,üí• –ú–∞—Ä–≥–∞–Ω–µ—Ü—å (–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞ –æ–±–ª.)\r\n–ó–∞–≥—Ä–æ–∑–∞...
4,–î–Ω—ñ–ø—Ä–æ,2022-12-02 11:33,48.466111,35.025278,1.7,-1.6,–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞,1.7,357,29.9,Partly cloudy,2022-12-02 11:00:00,üí• –ú–∞—Ä–≥–∞–Ω–µ—Ü—å (–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞ –æ–±–ª.)\r\n–ó–∞–≥—Ä–æ–∑–∞...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8798,–•–µ—Ä—Å–æ–Ω,2023-04-01 09:06,46.640000,32.614444,18.1,10.2,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,16.9,248,45.4,Mainly clear,2023-04-01 09:00:00,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞ –æ–±–ª–∞—Å—Ç—å. –Ü–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è —â–æ–¥–æ –≤–æ—Ä–æ–∂–∏—Ö –æ–±...
8799,–•–µ—Ä—Å–æ–Ω,2023-03-30 16:20,46.640000,32.614444,16.2,3.1,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,10.7,245,27.7,Mainly clear,2023-03-30 16:00:00,‚Äã‚Äã‚ö°Ô∏è–û—Ç—Ä–∏–º–∞–≤ –æ—Å–∫–æ–ª–∫–æ–≤–µ –ø–æ—Ä–∞–Ω–µ–Ω–Ω—è –ø—ñ–¥ —á–∞—Å –±–æ–º–±–∞—Ä...
8800,–•–µ—Ä—Å–æ–Ω,2023-03-10 08:43,46.640000,32.614444,-1.5,-6.3,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,-2.7,65,36.1,Overcast,2023-03-10 08:00:00,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞ –æ–±–ª–∞—Å—Ç—å. –Ü–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è —â–æ–¥–æ –≤–æ—Ä–æ–∂–∏—Ö –æ–±...
8801,–•–µ—Ä—Å–æ–Ω,2023-03-10 08:43,46.640000,32.614444,-1.5,-6.3,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,-2.7,65,36.1,Overcast,2023-03-10 08:00:00,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞ –æ–±–ª–∞—Å—Ç—å. –Ü–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è —â–æ–¥–æ –≤–æ—Ä–æ–∂–∏—Ö –æ–±...
8802,–•–µ—Ä—Å–æ–Ω,2023-03-09 11:25,46.640000,32.614444,2.8,-4.7,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,2.6,83,22.1,Drizzle: Light,2023-03-09 11:00:00,–ù–∞ –≤—ñ–¥–µ–æ - –ø–ª–æ—â–∞ –ö–æ—Ä–∞–±–µ–ª—å–Ω–∞ —É –•–µ—Ä—Å–æ–Ω—ñ. \r\n\r\...

In [8]:

def calculate_max_attacks(df):
    alarm_keywords = ['üí•', 'üìç', '‚ö†Ô∏è']
    df['alarm'] = df['tg_message'].apply(lambda x: any(keyword in x for keyword in alarm_keywords))
    df[['date', 'time']] = df['date_weather'].str.split(' ', n=1, expand=True)
    df['month'] = pd.to_datetime(df['date']).dt.month_name()
    df_count = df.groupby(['region_x', 'month']).size().reset_index(name='number_of_attacks')
    df_max_attacks = df_count.loc[df_count.groupby('region_x')['number_of_attacks'].idxmax()]
    df_max_attacks['region_x'] = df_max_attacks['region_x']
    df_max_attacks = df_max_attacks.reset_index(drop=True)
    return df_max_attacks[['region_x', 'month', 'number_of_attacks']]
calculate_max_attacks(read_file('message-weather (1).csv'))

             region_x     month  number_of_attacks
0   –Ü–≤–∞–Ω–æ-–§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∞  December                  1
1           –í—ñ–Ω–Ω–∏—Ü—å–∫–∞     March                 10
2    –î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞  November                636
3            –î–æ–Ω–µ—Ü—å–∫–∞     March                811
4         –ñ–∏—Ç–æ–º–∏—Ä—Å—å–∫–∞     March                 23
5          –ó–∞–ø–æ—Ä—ñ–∑—å–∫–∞   January                 55
6            –ö–∏—ó–≤—Å—å–∫–∞   January                111
7      –ö—ñ—Ä–æ–≤–æ–≥—Ä–∞–¥—Å—å–∫–∞   October                  5
8           –õ—É–≥–∞–Ω—Å—å–∫–∞     March                251
9           –õ—å–≤—ñ–≤—Å—å–∫–∞  February                149
10       –ú–∏–∫–æ–ª–∞—ó–≤—Å—å–∫–∞  February                 82
11            –û–¥–µ—Å—å–∫–∞     March                 50
12         –ü–æ–ª—Ç–∞–≤—Å—å–∫–∞  February                 22
13         –†—ñ–≤–Ω–µ–Ω—Å—å–∫–∞     April                  6
14            –°—É–º—Å—å–∫–∞  November                246
15      –¢–µ—Ä–Ω–æ–ø—ñ–ª—å—Å—å–∫–∞   October                  1
16         –•–∞—Ä–∫—ñ–≤—Å—å–∫–∞  February                432
17         –•–µ—Ä—Å–æ–Ω—Å—å–∫–∞     March                299
18        –•–º–µ–ª—å–Ω–∏—Ü—å–∫–∞  February                 20
19          –ß–µ—Ä–∫–∞—Å—å–∫–∞   October                  5
20        –ß–µ—Ä–Ω—ñ–≤–µ—Ü—å–∫–∞   October                  2
21       –ß–µ—Ä–Ω—ñ–≥—ñ–≤—Å—å–∫–∞   January                 12

In [3]:
def month_attack(df):
    alarm_keywords = ['üí•', 'üìç', '‚ö†Ô∏è']
    df['alarm'] = df['tg_message'].apply(lambda x: any(keyword in x for keyword in alarm_keywords))
    df[['date', 'time']] = df['date_weather'].str.split(' ', n=1, expand=True)
    df['month'] = pd.to_datetime(df['date']).dt.month_name()
    month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    alerts_df = df[df['tg_message'].str.contains('üí•|üìç|‚ö†Ô∏è', regex=True)]
    alerts_by_month = alerts_df.groupby('month').size().reindex(month_order, fill_value=0).reset_index(name='number_of_attacks')

    return alerts_by_month
month_attack(read_file('message-weather (1).csv'))

        month  number_of_attacks
0     January                813
1    February                707
2       March                816
3       April                344
4         May                  0
5        June                  0
6        July                  0
7      August                  0
8   September                  0
9     October                110
10   November                974
11   December                206

In [26]:
def process_weather_data(df):
    new_data = {'region_x': [], 'weather_description': [], 'tg_message_count': []}
    for _, row in df.iterrows():
        region = row['region_x']
        weather_description = row['weather_description']
        tg_messages = row['tg_message']
        for _ in tg_messages:
            new_data['region_x'].append(region)
            new_data['weather_description'].append(weather_description)
            new_data['tg_message_count'].append(1)
    result_df = pd.DataFrame(new_data)
    result_df = result_df.groupby(['region_x', 'weather_description']).agg({'tg_message_count':'sum'})
    return result_df
process_weather_data(read_file('message-weather (1).csv'))

                                       tg_message_count
region_x          weather_description
–Ü–≤–∞–Ω–æ-–§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∞ Mainly clear                      179
                  Snow fall: Slight                 685
–í—ñ–Ω–Ω–∏—Ü—å–∫–∞         Clear sky                      100608
                  Drizzle: Light                    652
                  Mainly clear                     1247
...                                                 ...
–ß–µ—Ä–Ω—ñ–≥—ñ–≤—Å—å–∫–∞      Drizzle: Light                   7932
                  Mainly clear                      714
                  Overcast                        10866
                  Partly cloudy                     861
                  Snow fall: Slight                4137

[131 rows x 1 columns]

In [40]:
def region_temperature(df):
    new_data = {'region_x': [], 'temperature': [], 'attack_count': []}
    alarm_keywords = ['üí•', 'üìç', '‚ö†Ô∏è']
    
    for _, row in df.iterrows():
        region = row['region_x']
        temp = row['temperature']
        tg_messages = row['tg_message']
        
        has_alarm = any(keyword in tg_messages for keyword in alarm_keywords)
        
        if has_alarm:
            new_data['region_x'].append(region)
            new_data['temperature'].append(temp)
            new_data['attack_count'].append(1)

    result_df = pd.DataFrame(new_data)
    result_df = result_df.groupby(['region_x', 'temperature']).agg({'attack_count': 'sum'})

    return result_df
region_temperature(read_file('message-weather (1).csv'))

                               attack_count
region_x          temperature
–Ü–≤–∞–Ω–æ-–§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∞  5.4                    1
–í—ñ–Ω–Ω–∏—Ü—å–∫–∞         -3.9                    3
                   1.3                    1
                   1.5                    2
                   6.2                    1
...                                     ...
–•–º–µ–ª—å–Ω–∏—Ü—å–∫–∞        5.5                    3
                   9.9                    1
–ß–µ—Ä–∫–∞—Å—å–∫–∞          9.5                    1
–ß–µ—Ä–Ω—ñ–≤–µ—Ü—å–∫–∞        10.4                   2
–ß–µ—Ä–Ω—ñ–≥—ñ–≤—Å—å–∫–∞       12.2                   2

[851 rows x 1 columns]

In [3]:
def process_temperature(df):
    new_data = {'temperature': [], 'alarm_count': []}
    alarm_keywords = ['üí•', 'üìç', '‚ö†Ô∏è']
    for _, row in df.iterrows():
        temperature = row['temperature']
        alarm = row['tg_message']
        has_alarm = any(keyword in alarm for keyword in alarm_keywords)
        if has_alarm:
            new_data['temperature'].append(temperature)
            new_data['alarm_count'].append(1) 
    df_filtered = df[df['tg_message'].str.contains('|'.join(alarm_keywords))]
    count_warm = df_filtered[df_filtered['temperature'] > 14]['tg_message'].count()
    count_cold = df_filtered[df_filtered['temperature'] <= 14]['tg_message'].count()
    return f"–¢—Ä–∏–≤–æ–≥ –ø—Ä–∏ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ñ > 14: {count_warm}, –ø—Ä–∏ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ñ <= 14: {count_cold}"
process_temperature(read_file('message-weather (1).csv'))

'–¢—Ä–∏–≤–æ–≥ –ø—Ä–∏ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ñ > 14: 147, –ø—Ä–∏ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ñ <= 14: 3823'

In [2]:
def process_data(df):
    hours = []
    number = []
    for i in range(24):
        if i == 9:
            hours.append(f'[0{i}:00-{i + 1}:00)')
        elif i < 10:
            hours.append(f'[0{i}:00-0{i + 1}:00)')
        else:
            hours.append(f'[{i}:00-{i + 1}:00)')
        count = 0
        for j in range(len(df)):
            if int(df.date_weather[j].split()[1].split(':')[0]) == i:
                if ("üí•" in df.tg_message[j]) | ("üìç" in df.tg_message[j]) | ("‚ö†Ô∏è" in df.tg_message[j]):
                    count += df.tg_message[j].count("üí•") + df.tg_message[j].count("‚ö†Ô∏è") + df.tg_message[j].count("üìç")
        number.append(count)

    return pd.DataFrame({'hours': hours, 'number': number})
process_data(read_file('message-weather (1).csv'))

            hours  number
0   [00:00-01:00)     341
1   [01:00-02:00)     342
2   [02:00-03:00)     105
3   [03:00-04:00)     136
4   [04:00-05:00)      82
5   [05:00-06:00)      45
6   [06:00-07:00)      62
7   [07:00-08:00)     109
8   [08:00-09:00)    3388
9   [09:00-10:00)    1613
10  [10:00-11:00)     436
11  [11:00-12:00)     196
12  [12:00-13:00)     237
13  [13:00-14:00)     348
14  [14:00-15:00)     455
15  [15:00-16:00)     106
16  [16:00-17:00)     181
17  [17:00-18:00)      85
18  [18:00-19:00)     404
19  [19:00-20:00)     452
20  [20:00-21:00)     144
21  [21:00-22:00)     291
22  [22:00-23:00)     367
23  [23:00-24:00)     494

In [6]:
def flag_direction(df, show_statistics=True):
    mod_stats = df.loc[df['city'] == '–õ—å–≤—ñ–≤', ['city', 'date_weather', 'wind_direction']]
    direction_name = []
    for i in mod_stats['wind_direction']:
        if i in range(31) or i in range(320, 360):
            direction_name.append("–®–µ–≤—á–µ–Ω–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω")
        elif i in range(31, 125):
            direction_name.append('–õ–∏—á–∞–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω')
        elif i in range(125, 145):
            direction_name.append('–°–∏—Ö—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω')
        elif i in range(145, 180):
            direction_name.append('–ü–∞–ª–∏–ª—å–Ω—è –£–ö–£')
        elif i in range(180, 250):
            direction_name.append('–§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω')
        elif i in range(250, 290):
            direction_name.append('–ó–∞–ª—ñ–∑–Ω–∏—á–Ω–∏–π —Ä–∞–π–æ–Ω')
        elif i in range(290, 320):
            direction_name.append('–õ–µ–≤–∞–Ω–¥—ñ–≤–∫–∞')
    mod_stats['direction_name'] = direction_name
    if show_statistics:
        direction = ["–®–µ–≤—á–µ–Ω–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω", '–õ–∏—á–∞–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω', '–°–∏—Ö—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω', '–ü–∞–ª–∏–ª—å–Ω—è –£–ö–£',
                  '–§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω', '–ó–∞–ª—ñ–∑–Ω–∏—á–Ω–∏–π —Ä–∞–π–æ–Ω', '–õ–µ–≤–∞–Ω–¥—ñ–≤–∫–∞']
        counts = [direction_name.count("–®–µ–≤—á–µ–Ω–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω"),
                  direction_name.count("–õ–∏—á–∞–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω"),
                  direction_name.count("–°–∏—Ö—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω"),
                  direction_name.count("–ü–∞–ª–∏–ª—å–Ω—è –£–ö–£"),
                  direction_name.count("–§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω"),
                  direction_name.count("–ó–∞–ª—ñ–∑–Ω–∏—á–Ω–∏–π —Ä–∞–π–æ–Ω"),
                  direction_name.count("–õ–µ–≤–∞–Ω–¥—ñ–≤–∫–∞")]

        data = pd.DataFrame({'City': ['–õ—å–≤—ñ–≤'] * len(direction), 'Region': direction, "Counts": counts})
        return data

    return mod_stats
flag_direction(read_file('message-weather (1).csv'))

    City                Region  Counts
0  –õ—å–≤—ñ–≤  –®–µ–≤—á–µ–Ω–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω      18
1  –õ—å–≤—ñ–≤    –õ–∏—á–∞–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω      24
2  –õ—å–≤—ñ–≤      –°–∏—Ö—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω      12
3  –õ—å–≤—ñ–≤          –ü–∞–ª–∏–ª—å–Ω—è –£–ö–£      32
4  –õ—å–≤—ñ–≤    –§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∏–π —Ä–∞–π–æ–Ω      31
5  –õ—å–≤—ñ–≤     –ó–∞–ª—ñ–∑–Ω–∏—á–Ω–∏–π —Ä–∞–π–æ–Ω       3
6  –õ—å–≤—ñ–≤            –õ–µ–≤–∞–Ω–¥—ñ–≤–∫–∞       2