In [1]:
import pandas as pd
def read_file(path):
    df= pd.read_csv(path).drop(columns=['city'])
    return df
read_file('message-weather (1).csv')

,date_weather,latitude_decimal,longitude_decimal,max_temperature,min_temperature,region_x,temperature,wind_direction,wind_speed,weather_description,date_hour_x,tg_message
0,2022-12-02 12:32,50.911944,34.803333,-0.2,-3.3,–°—É–º—Å—å–∫–∞,-0.2,343,31.2,Overcast,2022-12-02 12:00:00,üí• –•–æ—Ç—ñ–Ω—å (–°—É–º—Å—å–∫–∞ –æ–±–ª.)\n–ó–∞–≥—Ä–æ–∑–∞ –∞—Ä—Ç–∏–ª–µ—Ä—ñ–π—Å—å–∫–æ...
1,2022-12-02 11:33,47.644722,34.604167,2.7,-0.1,–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞,2.7,3,28.5,Overcast,2022-12-02 11:00:00,üí• –ú–∞—Ä–≥–∞–Ω–µ—Ü—å (–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞ –æ–±–ª.)\n–ó–∞–≥—Ä–æ–∑–∞ –∞...
2,2022-12-02 11:33,48.466111,35.025278,1.7,-1.6,–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞,1.7,357,29.9,Partly cloudy,2022-12-02 11:00:00,üí• –ú–∞—Ä–≥–∞–Ω–µ—Ü—å (–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞ –æ–±–ª.)\n–ó–∞–≥—Ä–æ–∑–∞ –∞...
3,2022-12-02 11:33,47.577222,34.357500,2.4,0.1,–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞,2.4,7,25.4,Overcast,2022-12-02 11:00:00,üí• –ú–∞—Ä–≥–∞–Ω–µ—Ü—å (–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞ –æ–±–ª.)\n–ó–∞–≥—Ä–æ–∑–∞ –∞...
4,2022-12-02 11:33,48.466111,35.025278,1.7,-1.6,–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞,1.7,357,29.9,Partly cloudy,2022-12-02 11:00:00,üí• –ú–∞—Ä–≥–∞–Ω–µ—Ü—å (–î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞ –æ–±–ª.)\n–ó–∞–≥—Ä–æ–∑–∞ –∞...
...,...,...,...,...,...,...,...,...,...,...,...,...
8798,2023-04-01 09:06,46.640000,32.614444,18.1,10.2,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,16.9,248,45.4,Mainly clear,2023-04-01 09:00:00,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞ –æ–±–ª–∞—Å—Ç—å. –Ü–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è —â–æ–¥–æ –≤–æ—Ä–æ–∂–∏—Ö –æ–±...
8799,2023-03-30 16:20,46.640000,32.614444,16.2,3.1,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,10.7,245,27.7,Mainly clear,2023-03-30 16:00:00,‚Äã‚Äã‚ö°Ô∏è–û—Ç—Ä–∏–º–∞–≤ –æ—Å–∫–æ–ª–∫–æ–≤–µ –ø–æ—Ä–∞–Ω–µ–Ω–Ω—è –ø—ñ–¥ —á–∞—Å –±–æ–º–±–∞—Ä...
8800,2023-03-10 08:43,46.640000,32.614444,-1.5,-6.3,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,-2.7,65,36.1,Overcast,2023-03-10 08:00:00,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞ –æ–±–ª–∞—Å—Ç—å. –Ü–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è —â–æ–¥–æ –≤–æ—Ä–æ–∂–∏—Ö –æ–±...
8801,2023-03-10 08:43,46.640000,32.614444,-1.5,-6.3,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,-2.7,65,36.1,Overcast,2023-03-10 08:00:00,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞ –æ–±–ª–∞—Å—Ç—å. –Ü–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è —â–æ–¥–æ –≤–æ—Ä–æ–∂–∏—Ö –æ–±...
8802,2023-03-09 11:25,46.640000,32.614444,2.8,-4.7,–•–µ—Ä—Å–æ–Ω—Å—å–∫–∞,2.6,83,22.1,Drizzle: Light,2023-03-09 11:00:00,–ù–∞ –≤—ñ–¥–µ–æ - –ø–ª–æ—â–∞ –ö–æ—Ä–∞–±–µ–ª—å–Ω–∞ —É –•–µ—Ä—Å–æ–Ω—ñ. \n\n–ù–∞ ...

In [47]:

def calculate_max_attacks(df):
    alarm_keywords = ['üí•', 'üìç', '‚ö†Ô∏è']
    df['alarm'] = df['tg_message'].apply(lambda x: any(keyword in x for keyword in alarm_keywords))
    df[['date', 'time']] = df['date_weather'].str.split(' ', n=1, expand=True)
    df['month'] = pd.to_datetime(df['date']).dt.month_name()
    df_count = df.groupby(['region_x', 'month']).size().reset_index(name='number_of_attacks')
    df_max_attacks = df_count.loc[df_count.groupby('region_x')['number_of_attacks'].idxmax()]
    df_max_attacks['region_x'] = df_max_attacks['region_x']
    df_max_attacks = df_max_attacks.sort_values(by=['region_x'])
    df_max_attacks = df_max_attacks.reset_index(drop=True)
    return df_max_attacks[['region_x', 'month', 'number_of_attacks']]
calculate_max_attacks(read_file('message-weather (1).csv'))

             region_x     month  number_of_attacks
0   –Ü–≤–∞–Ω–æ-–§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∞  December                  1
1           –í—ñ–Ω–Ω–∏—Ü—å–∫–∞     March                 10
2    –î–Ω—ñ–ø—Ä–æ–ø–µ—Ç—Ä–æ–≤—Å—å–∫–∞  November                636
3            –î–æ–Ω–µ—Ü—å–∫–∞     March                811
4         –ñ–∏—Ç–æ–º–∏—Ä—Å—å–∫–∞     March                 23
5          –ó–∞–ø–æ—Ä—ñ–∑—å–∫–∞   January                 55
6            –ö–∏—ó–≤—Å—å–∫–∞   January                111
7      –ö—ñ—Ä–æ–≤–æ–≥—Ä–∞–¥—Å—å–∫–∞   October                  5
8           –õ—É–≥–∞–Ω—Å—å–∫–∞     March                251
9           –õ—å–≤—ñ–≤—Å—å–∫–∞  February                149
10       –ú–∏–∫–æ–ª–∞—ó–≤—Å—å–∫–∞  February                 82
11            –û–¥–µ—Å—å–∫–∞     March                 50
12         –ü–æ–ª—Ç–∞–≤—Å—å–∫–∞  February                 22
13         –†—ñ–≤–Ω–µ–Ω—Å—å–∫–∞     April                  6
14            –°—É–º—Å—å–∫–∞  November                246
15      –¢–µ—Ä–Ω–æ–ø—ñ–ª—å—Å—å–∫–∞   October                  1
16         –•–∞—Ä–∫—ñ–≤—Å—å–∫–∞  February                432
17         –•–µ—Ä—Å–æ–Ω—Å—å–∫–∞     March                299
18        –•–º–µ–ª—å–Ω–∏—Ü—å–∫–∞  February                 20
19          –ß–µ—Ä–∫–∞—Å—å–∫–∞   October                  5
20        –ß–µ—Ä–Ω—ñ–≤–µ—Ü—å–∫–∞   October                  2
21       –ß–µ—Ä–Ω—ñ–≥—ñ–≤—Å—å–∫–∞   January                 12

In [68]:
def process_weather_data(df):
    new_data = {'region_x': [], 'weather_description': [], 'tg_message_count': []}
    for _, row in df.iterrows():
        region = row['region_x']
        weather_description = row['weather_description']
        tg_messages = row['tg_message']

        for _ in tg_messages:
            new_data['region_x'].append(region)
            new_data['weather_description'].append(weather_description)
            new_data['tg_message_count'].append(1)
    result_df = pd.DataFrame(new_data)
    result_df = result_df.groupby(['region_x', 'weather_description']).agg({'tg_message_count':'sum'})

    return result_df
process_weather_data(read_file('message-weather (1).csv'))

                                       tg_message_count
region_x          weather_description
–Ü–≤–∞–Ω–æ-–§—Ä–∞–Ω–∫—ñ–≤—Å—å–∫–∞ Mainly clear                      179
                  Snow fall: Slight                 685
–í—ñ–Ω–Ω–∏—Ü—å–∫–∞         Clear sky                      100608
                  Drizzle: Light                    652
                  Mainly clear                     1247
...                                                 ...
–ß–µ—Ä–Ω—ñ–≥—ñ–≤—Å—å–∫–∞      Drizzle: Light                   7932
                  Mainly clear                      714
                  Overcast                        10866
                  Partly cloudy                     861
                  Snow fall: Slight                4137

[131 rows x 1 columns]